<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人履歷</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body style="background-color: #F4F3EA;">
<div class="container ">
    <div class="row mb-4">
        <nav
                class="navbar navbar-expand-lg navbar-dark mt-3 "
                style="background-color: #EA7500;"
        >
            <div class="container-fluid ">
                <a class="navbar-brand" href="#">個人履歷</a>
                <button
                        class="navbar-toggler "
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" d-flex " id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="register.html"
                            >
                                註冊
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="row">
        <table class=" table table-warning  table-responsive table-hover">
            <thead>
            <tr>
                <th scope="row" colspan="4" class="fs-4 text-center">基本資料</th>
            </tr>
            <tr>
                <th colspan="3">
                    <span class=" fs-2 ml-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;顏仁炫</span>
                </th>
            </tr>
            </thead>
            <tbody class="align-middle">
            <tr>
                <th class="table-active" rowspan="3" style="width: 160px;">
                    <img
                            src="../img/Yen.jpg"
                            alt="本人照片"
                            class="float-start rounded "
                            style="width: 300px"
                    >
                </th>
                <td>生日： 2001/12/24</td>
                <td colspan="3">學歷： 高中 (<strong/>目前就讀靜宜大學)</td>
            </tr>
            <tr>
                <td>年齡: 21</td>
                <td>通訊地址： 臺中市沙鹿區台灣大道七段200號</td>
            </tr>
            <tr>
                <td>聯絡電話： +886 975 769 769</td>
                <td>E-mail： s1090366@gm.pu.edu.tw</td>
            </tr>
            </tbody>
            <tbody >
                <table class="table table-bordered table-hover table-warning align-middle">
                    <tr>
                        <th scope="row" colspan="4" class="fs-4 text-center">學、經歷</th>
                    </tr>

                    <tr>
                        <td>
                            2020/09 - 至今
                        </td>
                        <td>靜宜大學</td>
                        <td colspan="2">資訊工程學系</td>
                    </tr>

                    <tr>
                        <td>主修課程</td>
                        <td colspan="2">網頁前端程式設計、作業系統、計算機組織、進階資料結構</td>
                    </tr>

                    <tr>
                        <td>在校活動</td>
                        <td colspan="2">行雲者(已退)</td>
                    </tr>


                    <tr>
                        <td>語言技能</td>
                        <td colspan="2">多益：已通過學校標準</td>
                    </tr>

                    <tr>
                        <td>主修程式語言</td>
                        <td colspan="2">C++、JAVA、Python</td>
                    </tr>

                    <tr>
                        <td>比賽</td>
                        <td colspan="2">AIdea-Agriculture植物影像辨識(成員)</td>
                    </tr>
                    <tr>
                        <td>CPE</td>
                        <td colspan="2">已累積1題(後續會把C++修好再去考)</td>
                    </tr>
                    <table class="table table-bordered table-hover table-warning">
                        <tr>
                            <th scope="row" colspan="4" class="fs-4 text-center">未來願景</th>
                        </tr>

                        <tr>
                            <td colspan="4" class="text-center"
                                style="font-family: Noto Serif TC, serif; font-size: 42px;">
                                <img src="../img/NSYSU.jpg" alt="國立中山大學" title="國立中山大學">
                                &nbsp;&nbsp;&nbsp;" 考上四中，不讓自己後悔 "

                            </td>
                        </tr>

                    </table>
                </table>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>